<%= render 'layouts/navbar' %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Recipes</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <% @recipes.each_with_index do |recipe, index| %>
              <tr>
                <td><%= recipe.name %></td>
                <td><%= recipe.description %></td>
                <td>
                 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</main>




